*{
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
header,section,footer{
    width: 100%;
}
a{
    text-decoration: none;
    color: #666;
}
html,body{
    margin: 0;padding: 0;
    height: 100%;
    overflow-x:hidden;
}
body{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
h1,h2,h3,h4,h5,h6,ul,li{
    margin: 0;padding: 0;
}
::-webkit-scrollbar {/*隐藏滚轮*/
display: none;
}
header{
    height: .45rem;
    background:#fca017;
    align-items: center;
}
header h3{
	text-align: center;
    color: #fff;
    height: .5rem;
    line-height: .5rem;
}

section{
    background:#fff;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: .55rem;
}

section .section_bot ul li .img-1{
	width: .6rem;
	height: .6rem;
	display: block;
	margin-left: .2rem;
	margin-bottom: .1rem;
	margin-top: .1rem;
	float: left;
}
section .section_bot ul li h4{
	display: inline-block;
    padding-top: .1rem;
    padding-left: .1rem;

}
section .section_bot ul li .sp1{
	padding-left: .1rem;
    display: block;
    overflow: hidden;
    padding-top: .1rem;
    color: #999;
}
section .section_bot ul li .p1{
	display: block;
    margin-top: .2rem;
}
section .section_bot ul li .p1 .sp2{
	padding-left: .2rem;
}
section .section_bot ul li .p1 .sp3{
	float: right;
	padding-right: .2rem;
}

section .section_bot ul li .img-2{
	width: 3.55rem;
    height: 1.5rem;
    display: block;
    margin: .1rem;
	
}
section .section_bot ul li .sc{
	display: inline-block;
    margin: .1rem;
    color: #fca017;
}
section .section_bot ul li .fx{
	display: inline-block;
    margin: .1rem;
    padding-left: .6rem;
    color: #999;
}
section .section_bot ul li .pl{
	display: inline-block;
    margin: .1rem;
    float: right;
    color: #999;
}
section .line{
	height: .1rem;
	background: #efefef;
}
section .section_bot ul li .img-3{
	width: 1.1rem;
    height: 1.1rem;
    display: inline-block;
    margin-left: .1rem;
    margin-bottom: .1rem;
}
footer{
    height: .55rem;
    border-top: 1px solid #eee;
    background:#fff;
    display: flex;
    flex-shrink: 0;
    position: fixed;
    left: 0;
    bottom: 0;
}
footer .active{
	color: #fca017;
}
footer a{
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}
.fa{
	font-size: 20px!important;
}


