<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>秀美食</title>
    <link rel="stylesheet" href="css/haixian.css" />
    <link rel="stylesheet" href="../page/icons/iconfont.css">
    <link rel="stylesheet" href="../swiper/swiper-3.4.2.min.css">
    <script>
         document.documentElement.style.fontSize = document.documentElement.clientWidth/3.75+'px'
    </script>
</head>

<body>
    <header>
    	<h3>
    		<a href="../page/meishi.html">< 返回</a>
	    	海鲜火锅
    	</h3>
    </header>
    <section>
        <div class="tejia">
        	<img src="../page/2-2.jpg" />
        	<ul>
        		<li>
        			<img src="img/images/hx1.jpg"/>
        			<h4>海盗船海鲜(林萃桥北路)</h4>
        			<span class="sp0">评分4.3<i>¥ 126/人</i></span>
        			<p class="p1">
        				<span class="sp1">已评论12356条</span>
    					<span class="sp2">北大街 4.5km</span>
        			</p>
        			<span>消费即送一张5元代金券</span>
        			<br />
        			<span>[新人]8元优惠券</span>
        		</li>
        		<li>
        			<img src="img/images/hx2.jpg"/>
        			<h4>新辣道鱼火锅(西直门大悦城)</h4>
        			<span class="sp0">评分4.6<i>¥ 88/人</i></span>
        			<p class="p1">
        				<span class="sp1">已评论4562条</span>
    					<span class="sp2">西直门 1.5km</span>
        			</p>
        			<span>消费即送一张5元代金券</span>
        			<br />
        			<span>首单立减30代金券</span>
        		</li>
        		<li>
        			<img src="img/images/hx3.jpg"/>
        			<h4>海底捞(华润五彩城)</h4>
        			<span class="sp0">评分4.8<i>¥ 30/人</i></span>
        			<p class="p1">
        				<span class="sp1">已评论456条</span>
    					<span class="sp2">五彩城 1.5km</span>
        			</p>
        			<span>消费即送一张5元代金券</span>
        			<br />
        			<span>首单立减30代金券</span>
        		</li>
        		<li>
        			<img src="img/images/hx1.jpg"/>
        			<h4>海盗船海鲜(林萃桥北路)</h4>
        			<span class="sp0">评分4.3<i>¥ 126/人</i></span>
        			<p class="p1">
        				<span class="sp1">已评论12356条</span>
    					<span class="sp2">北大街 4.5km</span>
        			</p>
        			<span>消费即送一张5元代金券</span>
        			<br />
        			<span>[新人]8元优惠券</span>
        		</li>
        		<li>
        			<img src="img/images/hx2.jpg"/>
        			<h4>新辣道鱼火锅(西直门大悦城)</h4>
        			<span class="sp0">评分4.6<i>¥ 88/人</i></span>
        			<p class="p1">
        				<span class="sp1">已评论4562条</span>
    					<span class="sp2">西直门 1.5km</span>
        			</p>
        			<span>消费即送一张5元代金券</span>
        			<br />
        			<span>首单立减30代金券</span>
        		</li>
        		<li>
        			<img src="img/images/hx3.jpg"/>
        			<h4>海底捞(华润五彩城)</h4>
        			<span class="sp0">评分4.8<i>¥ 30/人</i></span>
        			<p class="p1">
        				<span class="sp1">已评论456条</span>
    					<span class="sp2">五彩城 1.5km</span>
        			</p>
        			<span>消费即送一张5元代金券</span>
        			<br />
        			<span>首单立减30代金券</span>
        		</li>
        		<li>
        			<img src="img/images/hx1.jpg"/>
        			<h4>海盗船海鲜(林萃桥北路)</h4>
        			<span class="sp0">评分4.3<i>¥ 126/人</i></span>
        			<p class="p1">
        				<span class="sp1">已评论12356条</span>
    					<span class="sp2">北大街 4.5km</span>
        			</p>
        			<span>消费即送一张5元代金券</span>
        			<br />
        			<span>[新人]8元优惠券</span>
        		</li>
        		<li>
        			<img src="img/images/hx2.jpg"/>
        			<h4>新辣道鱼火锅(西直门大悦城)</h4>
        			<span class="sp0">评分4.6<i>¥ 88/人</i></span>
        			<p class="p1">
        				<span class="sp1">已评论4562条</span>
    					<span class="sp2">西直门 1.5km</span>
        			</p>
        			<span>消费即送一张5元代金券</span>
        			<br />
        			<span>首单立减30代金券</span>
        		</li>
        		<li>
        			<img src="img/images/hx3.jpg"/>
        			<h4>海底捞(华润五彩城)</h4>
        			<span class="sp0">评分4.8<i>¥ 30/人</i></span>
        			<p class="p1">
        				<span class="sp1">已评论456条</span>
    					<span class="sp2">五彩城 1.5km</span>
        			</p>
        			<span>消费即送一张5元代金券</span>
        			<br />
        			<span>首单立减30代金券</span>
        		</li>
        		<li>
        			<img src="img/images/hx1.jpg"/>
        			<h4>海盗船海鲜(林萃桥北路)</h4>
        			<span class="sp0">评分4.3<i>¥ 126/人</i></span>
        			<p class="p1">
        				<span class="sp1">已评论12356条</span>
    					<span class="sp2">北大街 4.5km</span>
        			</p>
        			<span>消费即送一张5元代金券</span>
        			<br />
        			<span>[新人]8元优惠券</span>
        		</li>
        		<li>
        			<img src="img/images/hx2.jpg"/>
        			<h4>新辣道鱼火锅(西直门大悦城)</h4>
        			<span class="sp0">评分4.6<i>¥ 88/人</i></span>
        			<p class="p1">
        				<span class="sp1">已评论4562条</span>
    					<span class="sp2">西直门 1.5km</span>
        			</p>
        			<span>消费即送一张5元代金券</span>
        			<br />
        			<span>首单立减30代金券</span>
        		</li>
        		<li>
        			<img src="img/images/hx3.jpg"/>
        			<h4>海底捞(华润五彩城)</h4>
        			<span class="sp0">评分4.8<i>¥ 30/人</i></span>
        			<p class="p1">
        				<span class="sp1">已评论456条</span>
    					<span class="sp2">五彩城 1.5km</span>
        			</p>
        			<span>消费即送一张5元代金券</span>
        			<br />
        			<span>首单立减30代金券</span>
        		</li>
        		<li>
        			<img src="img/images/hx1.jpg"/>
        			<h4>海盗船海鲜(林萃桥北路)</h4>
        			<span class="sp0">评分4.3<i>¥ 126/人</i></span>
        			<p class="p1">
        				<span class="sp1">已评论12356条</span>
    					<span class="sp2">北大街 4.5km</span>
        			</p>
        			<span>消费即送一张5元代金券</span>
        			<br />
        			<span>[新人]8元优惠券</span>
        		</li>
        		<li>
        			<img src="img/images/hx2.jpg"/>
        			<h4>新辣道鱼火锅(西直门大悦城)</h4>
        			<span class="sp0">评分4.6<i>¥ 88/人</i></span>
        			<p class="p1">
        				<span class="sp1">已评论4562条</span>
    					<span class="sp2">西直门 1.5km</span>
        			</p>
        			<span>消费即送一张5元代金券</span>
        			<br />
        			<span>首单立减30代金券</span>
        		</li>
        		<li>
        			<img src="img/images/hx3.jpg"/>
        			<h4>海底捞(华润五彩城)</h4>
        			<span class="sp0">评分4.8<i>¥ 30/人</i></span>
        			<p class="p1">
        				<span class="sp1">已评论456条</span>
    					<span class="sp2">五彩城 1.5km</span>
        			</p>
        			<span>消费即送一张5元代金券</span>
        			<br />
        			<span>首单立减30代金券</span>
        		</li>
        	</ul>
        </div>
    </section>
    
    <script src="../zepto.min.js"></script>
    <script src="../swiper/swiper-3.4.2.jquery.min.js"></script>
    <script>
        
    </script>
</body>
</html>