<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>秀美食</title>
    <link rel="stylesheet" href="css/jiachang.css" />
    <link rel="stylesheet" href="../page/icons/iconfont.css">
    <link rel="stylesheet" href="../swiper/swiper-3.4.2.min.css">
    <script>
         document.documentElement.style.fontSize = document.documentElement.clientWidth/3.75+'px'
    </script>
</head>

<body>
    <header>
    	<h3>
    		<a href="../page/meishi.html">< 返回</a>
	    	家常菜系
    	</h3>
    </header>
    <section>
        <div class="tejia">
        	<img src="img/images/jc1.jpg" />
        	<img src="img/images/jc2.jpg" />
        	<img src="img/images/jc3.jpg" />
        	<ul>
        		<li>
        			<img src="img/images/xc4.jpg"/>
        			<h4>意大利番茄面(前门北大街店)</h4>
        			<p class="p1">
        				<span class="sp1">评分4.9</span>
    					<span class="sp2"><33km</span>
        			</p>
        			<br />
        			<i>¥ 45/人均</i>
        			<span>预约电话：400-8000-80000</span>
        		</li>
        		<li>
        			<img src="img/images/xc5.jpg"/>
        			<h4>芝士奶酪(西单汉光点)</h4>
        			<p class="p1">
        				<span class="sp1">评分4.9</span>
    					<span class="sp2"><33km</span>
        			</p>
        			<br />
        			<i>¥ 99/人均</i>
        			<span>预约电话：400-8000-80000</span>
        		</li>
        		<li>
        			<img src="img/images/xc1.jpg"/>
        			<h4>美式套餐(西单店)</h4>
        			<p class="p1">
        				<span class="sp1">评分4.9</span>
    					<span class="sp2"><33km</span>
        			</p>
        			<br />
        			<i>¥ 99/人均</i>
        			<span>预约电话：400-8000-80000</span>
        		</li>
        		<li>
        			<img src="img/images/xc2.jpg"/>
        			<h4>鱼子酱寿司(西单大悦城)</h4>
        			<p class="p1">
        				<span class="sp1">评分4.9</span>
    					<span class="sp2"><33km</span>
        			</p>
        			<br />
        			<i>¥ 68/人均</i>
        			<span>预约电话：400-8000-80000</span>
        		</li>
        		<li>
        			<img src="img/images/xc3.jpg"/>
        			<h4>莫斯三文鱼(小贤家)</h4>
        			<p class="p1">
        				<span class="sp1">评分4.9</span>
    					<span class="sp2"><33km</span>
        			</p>
        			<br />
        			<i>¥ 99/人均</i>
        			<span>预约电话：400-8000-80000</span>
        		</li>
        		<li>
        			<img src="img/images/xc1.jpg"/>
        			<h4>美式套餐(西单店)</h4>
        			<p class="p1">
        				<span class="sp1">评分4.9</span>
    					<span class="sp2"><33km</span>
        			</p>
        			<br />
        			<i>¥ 99/人均</i>
        			<span>预约电话：400-8000-80000</span>
        		</li>
        		<li>
        			<img src="img/images/xc2.jpg"/>
        			<h4>鱼子酱寿司(西单大悦城)</h4>
        			<p class="p1">
        				<span class="sp1">评分4.9</span>
    					<span class="sp2"><33km</span>
        			</p>
        			<br />
        			<i>¥ 68/人均</i>
        			<span>预约电话：400-8000-80000</span>
        		</li>
        		<li>
        			<img src="img/images/xc3.jpg"/>
        			<h4>莫斯三文鱼(小贤家)</h4>
        			<p class="p1">
        				<span class="sp1">评分4.9</span>
    					<span class="sp2"><33km</span>
        			</p>
        			<br />
        			<i>¥ 99/人均</i>
        			<span>预约电话：400-8000-80000</span>
        		</li>
        		<li>
        			<img src="img/images/xc4.jpg"/>
        			<h4>意大利番茄面(前门北大街店)</h4>
        			<p class="p1">
        				<span class="sp1">评分4.9</span>
    					<span class="sp2"><33km</span>
        			</p>
        			<br />
        			<i>¥ 45/人均</i>
        			<span>预约电话：400-8000-80000</span>
        		</li>
        		<li>
        			<img src="img/images/xc5.jpg"/>
        			<h4>芝士奶酪(西单汉光点)</h4>
        			<p class="p1">
        				<span class="sp1">评分4.9</span>
    					<span class="sp2"><33km</span>
        			</p>
        			<br />
        			<i>¥ 99/人均</i>
        			<span>预约电话：400-8000-80000</span>
        		</li>
        	</ul>
        </div>
    </section>
    
    <script src="../zepto.min.js"></script>
    <script src="../swiper/swiper-3.4.2.jquery.min.js"></script>
    <script>
        
    </script>
</body>
</html>