<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>秀美食</title>
    <link rel="stylesheet" href="css/sancan.css" />
    <link rel="stylesheet" href="../page/icons/iconfont.css">
    <link rel="stylesheet" href="../swiper/swiper-3.4.2.min.css">
    <script>
         document.documentElement.style.fontSize = document.documentElement.clientWidth/3.75+'px'
    </script>
</head>

<body>
    <header>
    	<h3>
    		<a href="../page/meishi.html">< 返回</a>
	    	三餐精选
    	</h3>
    </header>
    <section>
    	<div class="tuijian">
        	今日午餐推荐
        </div>
        <div class="tejia">
        	<img src="img/images/sc0.jpg" />
	    	<div class="tuijian">
	    		—————— 午餐推荐 ——————
	        </div>
        	<ul>
        		<li>
        			<img src="img/images/sc1.jpg"/>
        			<h4>西部美食(林萃桥北路)</h4>
        			<p class="p1">
        				<span class="sp1">评分4.9</span>
    					<span class="sp2"><800m</span>
        			</p>
        			<br />
        			<i>人均24</i>
        			<span>推荐菜：青椒肉丝面</span>
        			<span>消费即送一张5元代金券</span>
        			<span>[新人]8元优惠券</span>
        		</li>
        		<li>
        			<img src="img/images/sc2.jpg"/>
        			<h4>星美韩食(黑泉路)</h4>
        			<p class="p1">
        				<span class="sp1">评分4.3</span>
    					<span class="sp2"><520m</span>
        			</p>
        			<br />
        			<i>人均24</i>
        			<span>推荐菜：鸡翅海鲜饭</span>
        			<span>消费即送一张5元代金券</span>
        			<span>[新人]8元优惠券</span>
        		</li>
        		<li>
        			<img src="img/images/sc1.jpg"/>
        			<h4>西部美食(林萃桥北路)</h4>
        			<p class="p1">
        				<span class="sp1">评分4.9</span>
    					<span class="sp2"><800m</span>
        			</p>
        			<br />
        			<i>人均24</i>
        			<span>推荐菜：青椒肉丝面</span>
        			<span>消费即送一张5元代金券</span>
        			<span>[新人]8元优惠券</span>
        		</li>
        		<li>
        			<img src="img/images/sc2.jpg"/>
        			<h4>星美韩食(黑泉路)</h4>
        			<p class="p1">
        				<span class="sp1">评分4.3</span>
    					<span class="sp2"><520m</span>
        			</p>
        			<br />
        			<i>人均24</i>
        			<span>推荐菜：鸡翅海鲜饭</span>
        			<span>消费即送一张5元代金券</span>
        			<span>[新人]8元优惠券</span>
        		</li>
        		<li>
        			<img src="img/images/sc1.jpg"/>
        			<h4>西部美食(林萃桥北路)</h4>
        			<p class="p1">
        				<span class="sp1">评分4.9</span>
    					<span class="sp2"><800m</span>
        			</p>
        			<br />
        			<i>人均24</i>
        			<span>推荐菜：青椒肉丝面</span>
        			<span>消费即送一张5元代金券</span>
        			<span>[新人]8元优惠券</span>
        		</li>
        		<li>
        			<img src="img/images/sc2.jpg"/>
        			<h4>星美韩食(黑泉路)</h4>
        			<p class="p1">
        				<span class="sp1">评分4.3</span>
    					<span class="sp2"><520m</span>
        			</p>
        			<br />
        			<i>人均24</i>
        			<span>推荐菜：鸡翅海鲜饭</span>
        			<span>消费即送一张5元代金券</span>
        			<span>[新人]8元优惠券</span>
        		</li>
        		<li>
        			<img src="img/images/sc1.jpg"/>
        			<h4>西部美食(林萃桥北路)</h4>
        			<p class="p1">
        				<span class="sp1">评分4.9</span>
    					<span class="sp2"><800m</span>
        			</p>
        			<br />
        			<i>人均24</i>
        			<span>推荐菜：青椒肉丝面</span>
        			<span>消费即送一张5元代金券</span>
        			<span>[新人]8元优惠券</span>
        		</li>
        		<li>
        			<img src="img/images/sc2.jpg"/>
        			<h4>星美韩食(黑泉路)</h4>
        			<p class="p1">
        				<span class="sp1">评分4.3</span>
    					<span class="sp2"><520m</span>
        			</p>
        			<br />
        			<i>人均24</i>
        			<span>推荐菜：鸡翅海鲜饭</span>
        			<span>消费即送一张5元代金券</span>
        			<span>[新人]8元优惠券</span>
        		</li>
        		<li>
        			<img src="img/images/sc1.jpg"/>
        			<h4>西部美食(林萃桥北路)</h4>
        			<p class="p1">
        				<span class="sp1">评分4.9</span>
    					<span class="sp2"><800m</span>
        			</p>
        			<br />
        			<i>人均24</i>
        			<span>推荐菜：青椒肉丝面</span>
        			<span>消费即送一张5元代金券</span>
        			<span>[新人]8元优惠券</span>
        		</li>
        		<li>
        			<img src="img/images/sc2.jpg"/>
        			<h4>星美韩食(黑泉路)</h4>
        			<p class="p1">
        				<span class="sp1">评分4.3</span>
    					<span class="sp2"><520m</span>
        			</p>
        			<br />
        			<i>人均24</i>
        			<span>推荐菜：鸡翅海鲜饭</span>
        			<span>消费即送一张5元代金券</span>
        			<span>[新人]8元优惠券</span>
        		</li>
        	</ul>
        </div>
    </section>
    
    <script src="../zepto.min.js"></script>
    <script src="../swiper/swiper-3.4.2.jquery.min.js"></script>
    <script>
        
    </script>
</body>
</html>