<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>秀美食</title>
    <link rel="stylesheet" href="css/tianpin.css" />
    <link rel="stylesheet" href="../page/icons/iconfont.css">
    <link rel="stylesheet" href="../swiper/swiper-3.4.2.min.css">
    <script>
         document.documentElement.style.fontSize = document.documentElement.clientWidth/3.75+'px'
    </script>
</head>

<body>
    <header>
    	<h3>
    		<a href="../page/meishi.html">< 返回</a>
	    	甜品饮品
    	</h3>
    </header>
    <section>
        <div class="tejia">
        	<img src="img/images/tp1.jpg" />
        	<img src="img/images/tp2.jpg" />
        	<img src="img/images/tp3.jpg" />
        	<ul>
        		<li>
        			<img src="img/images/yp1.jpg"/>
        			<h4>乳脂奶糖奶咖啡(艾莫菲儿)</h4>
        			<p class="p1">
        				<span class="sp1">¥ 12/杯</span>
    					<span class="sp2"><33km</span>
        			</p>
        			<br />
        			<i>热饮</i>
        			<span>2单以上支持免费外卖，第二杯半价</span>
        		</li>
        		<li>
        			<img src="img/images/yp2.jpg"/>
        			<h4>雪顶冰咖啡(泡泡饮吧)</h4>
        			<p class="p1">
        				<span class="sp1">¥ 10/杯</span>
    					<span class="sp2"><33km</span>
        			</p>
        			<br />
        			<i>冷饮</i>
        			<span>2单以上支持外卖，第二杯半价</span>
        		</li>
        		<li>
        			<img src="img/images/yp3.jpg"/>
        			<h4>巧克力莫斯(小贤家)</h4>
        			<p class="p1">
        				<span class="sp1">¥ 19/杯</span>
    					<span class="sp2"><33km</span>
        			</p>
        			<br />
        			<i>脂类</i>
        			<span>新店开业，首单免费</span>
        		</li>
        		<li>
        			<img src="img/images/yp4.jpg"/>
        			<h4>青柠苏打水</h4>
        			<p class="p1">
        				<span class="sp1">¥ 14/杯</span>
    					<span class="sp2"><33km</span>
        			</p>
        			<br />
        			<i>冷饮</i>
        			<span>新用户立减8元</span>
        		</li>
        		<li>
        			<img src="img/images/yp5.jpg"/>
        			<h4>芒果奶昔</h4>
        			<p class="p1">
        				<span class="sp1">¥ 25/杯</span>
    					<span class="sp2"><33km</span>
        			</p>
        			<br />
        			<i>乳脂类</i>
        			<span>进店领红包，最大10元</span>
        		</li>
        		<li>
        			<img src="img/images/yp1.jpg"/>
        			<h4>乳脂奶糖奶咖啡(艾莫菲儿)</h4>
        			<p class="p1">
        				<span class="sp1">¥ 12/杯</span>
    					<span class="sp2"><33km</span>
        			</p>
        			<br />
        			<i>热饮</i>
        			<span>2单以上支持免费外卖，第二杯半价</span>
        		</li>
        		<li>
        			<img src="img/images/yp2.jpg"/>
        			<h4>雪顶冰咖啡(泡泡饮吧)</h4>
        			<p class="p1">
        				<span class="sp1">¥ 10/杯</span>
    					<span class="sp2"><33km</span>
        			</p>
        			<br />
        			<i>冷饮</i>
        			<span>2单以上支持外卖，第二杯半价</span>
        		</li>
        		<li>
        			<img src="img/images/yp3.jpg"/>
        			<h4>巧克力莫斯(小贤家)</h4>
        			<p class="p1">
        				<span class="sp1">¥ 19/杯</span>
    					<span class="sp2"><33km</span>
        			</p>
        			<br />
        			<i>脂类</i>
        			<span>新店开业，首单免费</span>
        		</li>
        		<li>
        			<img src="img/images/yp4.jpg"/>
        			<h4>青柠苏打水</h4>
        			<p class="p1">
        				<span class="sp1">¥ 14/杯</span>
    					<span class="sp2"><33km</span>
        			</p>
        			<br />
        			<i>冷饮</i>
        			<span>新用户立减8元</span>
        		</li>
        		<li>
        			<img src="img/images/yp5.jpg"/>
        			<h4>芒果奶昔</h4>
        			<p class="p1">
        				<span class="sp1">¥ 25/杯</span>
    					<span class="sp2"><33km</span>
        			</p>
        			<br />
        			<i>乳脂类</i>
        			<span>进店领红包，最大10元</span>
        		</li>
        	</ul>
        </div>
    </section>
    
    <script src="../zepto.min.js"></script>
    <script src="../swiper/swiper-3.4.2.jquery.min.js"></script>
    <script>
        
    </script>
</body>
</html>