<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>秀美食</title>
    <link rel="stylesheet" type="text/css" href="css/youhui.css"/>
    <link rel="stylesheet" href="../page/icons/iconfont.css">
    <link rel="stylesheet" href="../swiper/swiper-3.4.2.min.css">
    <script>
         document.documentElement.style.fontSize = document.documentElement.clientWidth/3.75+'px'
    </script>
</head>

<body>
    <header>
	    <h3>
	    	<a href="../index.html">< 返回</a>
    		优惠专区
	    </h3>
    </header>
    <section>
        <div class="tuijian">
        	——————今日优惠——————
        </div>
        <div class="shipin">
        	<a href=""><img src="../img/11.jpg" /></a>
        	<img src="../img/12.jpg" />
        	<img src="../img/13.jpg" />
        	<img src="../img/14.jpg" />
        	<img src="img/images/tp1.jpg" />
        	<img src="img/images/tp2.jpg" />
        	<img src="img/images/tp3.jpg" />
        	<img src="img/images/hx1.jpg" />
        	<img src="img/images/hx2.jpg" />
        	<img src="img/images/hx3.jpg" />
        	<img src="img/images/jc1.jpg" />
        	<img src="img/images/jc2.jpg" />
        	<img src="img/images/jc3.jpg" />
        	<img src="img/images/sc1.jpg" />
        	<img src="img/images/sc2.jpg" />
        	<img src="../img/15.jpg" />
        	<img src="../img/16.jpg" />
        	<img src="../img/17.jpg" />
        	<img src="../img/18.jpg" />
        </div>
    </section>
    <script src="../zepto.min.js"></script>
    <script src="../swiper/swiper-3.4.2.jquery.min.js"></script>
    <script>

    </script>
</body>
</html>